@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	height: 100vh;
}

@layer components {
	.preferenceBtn {
		@apply relative rounded px-3 py-1.5 font-medium items-center transition-all focus:outline-none inline-flex  ml-auto p-1 mr-2 hover:bg-dark-fill-3;
	}

	.preferenceBtn-tooltip {
		@apply absolute w-auto p-2 text-sm m-2  min-w-max translate-x-3  right-0 top-5 z-10 rounded-md shadow-md
		text-dark-layer-2 bg-gray-200  origin-center scale-0 transition-all duration-100 ease-linear group-hover:scale-100;
	}
}

/* dark  scrollbar */
::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #282828;
}

::-webkit-scrollbar-thumb {
	background: #4d4d4d;
}

/* CODE EDITOR*/
.cm-scroller,
.cm-gutters {
	background-color: #282828 !important;
}
.cm-focused {
	outline: none !important;
}

.split {
	display: flex;
	flex-direction: row;
}

.gutter {
	background-color: rgb(26, 26, 26);
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: #0a84ff;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

.gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	cursor: row-resize;
}

code {
	border-radius: 5px;
	border-width: 1px;
	font-family: sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1rem;
	padding: 0.125rem;
	letter-spacing: 1px;
	white-space: pre-wrap;
	background-color: hsla(0, 0%, 100%, 0.07);
	border-color: rgba(247, 250, 255, 0.12);
	color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
	background-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 0.5rem;
	color: rgba(239, 241, 246, 0.75);
	font-size: 0.98rem;
	line-height: 1.25rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	white-space: pre-wrap;
}
.example-card pre strong {
	color: white;
	font-size: 1rem;
}

.App {
    text-align: center;
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    color: white;
  }
  
  body {
    padding: 0%;
    margin: 0;
  }
  
  nav {
    height: 60px;
    width: 100%;
    margin: 0;
    
    display: grid;
    place-items: center;
  }
  
  nav h1 {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 45px;
  }
  .game {
    width: 100vw;
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
  }
  
  .board {
    width: 450px;
    height: 550px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  
  .letter {
    flex: 33%;
    height: 100%;
    border: 1px solid grey;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #correct {
    background-color: #528d4e;
  }
  
  #almost {
    background-color: #b49f39;
  }
  
  #error {
    background-color: #3a393c;
  }
  
  .keyboard {
    width: 700px;
    height: 300px;
    margin-top: 60px;
  }
  
  .line1 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .line2 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  .line3 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  
  .key {
    width: 50px;
    height: 70px;
    margin: 5px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  
  #big {
    width: 100px;
  }
  #disabled {
    background-color: #3a393c;
  }
  
  html {
    scroll-behavior: smooth;
  }
.container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.143);
  border-radius: 15px;
  /* box-shadow: 2px 2px 10px 1px rgb(102, 3, 102); */
  box-shadow: 2px 2px 10px 1px #333;  
  overflow: hidden;
  padding: 10px;
  position: relative;
}
.heading-txt{
  color:white;
  /* color:#276272; */
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  text-align: center;  
  text-transform: uppercase;
}
.question{
  margin:8px;
  box-shadow: 0px 0px 10px 1px #a2a3a3;
  border-radius: 5px;
  padding:8px;
  font-size: large;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  min-width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#question-number{
  margin-right: 5px;
}
.option-container{
  display: flex;
  flex-direction: column;
  margin:6px 4px;    
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
/* .option-container input{
  visibility: hidden;    
} */
.option-btn{
  box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
  padding: 5px;
  border-radius: 3px;
  border:none;
  outline: none;
  transition: 0.3s;
  margin: 5px;
  min-height: 30px;
  background-color: rgba(255, 255, 255, 0.215);
}

.checked{
  background-color: rgb(179, 83, 179);
  color:white;
  box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
}
.option-btn:hover{
  background-color: rgb(228, 116, 35);
  color:white;
}
#next-button{
  padding:10px;
  border:none;
  background-color: purple;
  background-color: #000000;
  color:white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
  font-size: larger;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: 0.2s;
  width:100px;
  position: absolute;
  bottom: 15px;
}
#next-button:hover{
  background-color: white;
  border: 1px solid black;
  color: black; 
  cursor: pointer;   
}
.show-score{
  position: absolute;
  top:30%;
  font-size: 40px;
  text-align: center;  
}

.option-btn.selected {
  background-color: #e86e31; /* Green color, change as needed */
  color: #fff; /* White text, change as needed */
}

.option-btn.correct {
  background-color: #4caf50; /* Green color for correct answer */
  color: #fff; /* White text for correct answer */
}

.option-btn.incorrect {
  background-color: #f44336; /* Red color for incorrect answer */
  color: #fff; /* White text for incorrect answer */
}